@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;1,200;1,300;1,400&display=swap");
$color-naranjo: #dc742e;
$color-blanco: #f2f2f2;
$color-negro: #000;
$color-gris-oscuro: #353e47;
$color-gris-claro: #a09788;
$color-rosap: #fce4be;

body {
  font-family: "Nunito", sans-serif;
}

//navbar//
.nav-capital {
  background-color: $color-naranjo;
  font-size: 14px;

  .nav-link {
    color: white;
    text-decoration: none;
    background-color: transparent;
    display: block;
    padding: 0.5rem 0.5rem;
  }
}

//SECTION ONE//
.home {
  padding-top: 20px;
  min-height: 450px;
  background-color: pink;
  background-image: url("../img/bg-home.png");
  background-color: #000;
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: top;
  background-position-x: center;

  span {
    background: rgba(0, 0, 0, 0.6);
    letter-spacing: 5px;
    color: $color-blanco;
    font-style: italic;
    font-size: 30px;
    padding-right: 1.5rem !important;
  }
}

//SECTION TWO
.grafico {
  padding: 50px;
  background-image: url("../img/fondo-g.png");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  background-color: z-index;
  background-color: rgb(255, 175, 82);
  background-color: linear-gradient(
    180deg,
    rgba(255, 175, 82, 1) 33%,
    rgba(255, 154, 61, 1) 62%,
    rgba(254, 133, 92, 1) 100%
  );

  .line-white {
    border-right: 1px solid $color-blanco;
    border-left: 1px solid $color-blanco;
  }
  h1 {
    color: $color-blanco;
    padding-top: 10px;
    padding-bottom: 0px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 33px;
  }

  p {
    color: $color-blanco;
  }
}

//SECTION THREE
.about {
  .titulo h1 {
    font-size: 34px;
  }
  h1 {
    font-size: 24px;
    margin-top: 40px;
  }
  p {
    margin-top: 0;
    margin-bottom: 1rem;
    width: 51%;
    margin: auto;
    text-align: left;
  }
  img{
      margin-top: 30px;
  }
}

//SECTION FOUR
.que-es-redcapital {
  padding: 50px;
  background-image: url("../img/fondo-g.png");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: top;
  background-color: z-index;
  background-color: rgb(255, 175, 82);
  background-color: linear-gradient(
    180deg,
    rgba(255, 175, 82, 1) 33%,
    rgba(255, 154, 61, 1) 62%,
    rgba(254, 133, 92, 1) 100%
  );
  text-align: center;

  h1 {
    padding: 10px;
  }
}

//SECTION FIVE
//FLEXBOX
.apoyo {
    padding: 50px 0px;
  .titulo h1 {
    margin: 1.5rem 1.5rem !important;
    font-size: 34px;
    padding-bottom: 30px;
  }
  //
  .layout.wrap {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.layout {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    min-width: 0;
}
.mx-2 {
    margin-right: .5rem!important;
}
.flex.md9 {
    -ms-flex-preferred-size: 75%;
    flex-basis: 75%;
    -webkit-box-flex: 0;
    -ms-flex-positive: 0;
    flex-grow: 0;
    max-width: 75%;
}
.llenar-espacio {
    height: 100%;
}
.flex.md2 {
    -ms-flex-preferred-size: 16.6666666667%;
    flex-basis: 16.6666666667%;
    -webkit-box-flex: 0;
    -ms-flex-positive: 0;
    flex-grow: 0;
    max-width: 16.6666666667%;
}
.contenedor-imagen {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.contenedor-imagen img {
    height: 130px!important;
    width: 130px!important;
    -o-object-fit: contain;
    object-fit: contain;
}
.justify-center {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

//media query
@media (min-width: 0) and (max-width: 1050px){
.flex.xs-hijo {
    -ms-flex-preferred-size: 33.3333333333%;
    flex-basis: 33.3333333333%;
    -webkit-box-flex: 0;
    -ms-flex-positive: 0;
    flex-grow: 0;
    max-width: 33.3333333333%;
}
.flex.xs-padre {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    -webkit-box-flex: 0;
    -ms-flex-positive: 0;
    flex-grow: 0;
    max-width: 100%;
}
}

}


//SECTION SIX
.testimonios {
  padding-top: 5%;
  background-image: url("../img/bg.mancha.png");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: top;
  background-size: cover;

  .layout.wrap {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
  .card{
    border: 0;
    margin-bottom: 30px;
    margin-top: 100px;
    border-radius: 6px !important;
    color: rgba(0,0,0,.87);
    background: #fff;
    width: 70%;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
}
h3{
    font-weight: 300!important;
    font-size: 25px !important;
}


h4{
    font-size: 18px !important;
}

h6{
    font-size: 16px !important;
    font-weight: 500;

}

p {
    font-size: 14px;
    margin: 0 0 10px;
    font-weight: 300;
    text-align: justify;
    
}

.text-gray {
    color: #999!important;
}

.card-title{
    font-weight: 700 !important;
    margin-top: 10px;
    color: #3c4858;
    font-family: Roboto Slab,Times New Roman,serif;
}

.card .card-body{
    padding: .9375rem 1.875rem;
}

.card-description{
    color: #999;
}

.card.card-profile{
    text-align: center;
}
.card .card-header.card-header-image {
    position: relative;
    padding: 0;
    z-index: 1;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: -30px;
    border-radius: 6px;
    max-height: 215px;
}

.card .card-header.card-header-image a {
    display: block;
}

.card .card-header.card-header-image img {
    width: 100%;
    height: 215px;
    border-radius: 6px;
    pointer-events: none;
    box-shadow: 0 5px 15px -8px rgba(0,0,0,.24), 0 8px 10px -5px rgba(0,0,0,.2);
}

.card .card-header.card-header-image .colored-shadow {
    transform: scale(.94);
    top: 12px;
    filter: blur(12px);
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: cover;
    z-index: -1;
    transition: opacity .45s;
    opacity: 1;
}

.card .card-header.card-header-image .card-title {
    position: absolute;
    bottom: 5px;
    left: 15px;
    color: #fff;
    font-size: 1.125rem;
    text-shadow: 0 2px 5px rgba(33,33,33,.5);
    font-weight: 700;
    font-family: 'Roboto Slab';
}

.card .card-category {
    margin-top: 15px;
    margin-bottom: 10px;
}

.card .card-body+.card-footer {
    padding-top: 0;
    border: 0;
    border-radius: 6px;
}

.card .card-footer {
    display: flex;
    align-items: center;
    background-color: transparent;
    border: 0;
}

.card-profile .card-footer .btn.btn-just-icon{
    font-size: 20px;
    padding: 12px 13px;
    line-height: 1em;
}

.card .card-footer {
    padding: .9375rem 1.875rem;
}


.card-profile .card-body+.card-footer{
    margin-top: -15px;
}

.card-profile .card-avatar {
    width: 130px;
    max-width: 130px;
    max-height: 130px;
    margin: -50px auto 0;
    border-radius: 50%;
    overflow: hidden;
    padding: 0;
    box-shadow: 0 16px 38px -12px rgba(0,0,0,.56), 0 4px 25px 0 rgba(0,0,0,.12), 0 8px 10px -5px rgba(0,0,0,.2);
}

.card-profile .card-avatar img{
    width: 100%;
}
.card-profile .card-avatar+.card-body{
    margin-top: 15px;
}
.btn.btn-round {
    border-radius: 30px;
}



}

//SECTION SEVEN
.prensa {
  padding: 50px 10px;
  .titulo h1 {
    margin-bottom: 60px;
    font-size: 34px;
  }
  img {
    -webkit-filter: grayscale(100%); /* Ch 23+, Saf 6.0+, BB 10.0+ */
    filter: grayscale(100%); /* FF 35+ */
  }

  img:hover {
    transition: filter 0.3s ease-in-out;
    -webkit-filter: grayscale(0%); /* Ch 23+, Saf 6.0+, BB 10.0+ */
    filter: grayscale(0%); /* FF 35+ */
    -webkit-transform: scale(1.25); /* Safari and Chrome */
    -moz-transform: scale(1.25); /* Firefox */
    -ms-transform: scale(1.25); /* IE 9 */
    -o-transform: scale(1.25); /* Opera */
    transform: scale(1.25);
  }
}
.relato {
  padding: 10px 50px;
  background-color: $color-rosap;
  p {
    text-align: justify;
    margin-left: 8.3333333333%;
  }
  span {
    color: $color-gris-claro;
    margin-left: 8.3333333333%;
  }
}

//SECTION EIGHT
.footer {
  padding: 50px;
  background-color: $color-gris-oscuro;
  color: $color-blanco;

  h1 {
    font-size: 24px;
  }
  h1 .underline {
    text-decoration: underline;
  }

  button {
    background-color: $color-naranjo;
    border-radius: 0px;
    border: 1px solid $color-naranjo;
    color: $color-blanco;
    padding: 7px 80px;
  }
}
