@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;1,200;1,300;1,400&display=swap");
body {
  font-family: "Nunito", sans-serif;
}

nav a {
  color: #f2f2f2;
  padding: 7px;
}

nav a:hover {
  color: #f2f2f2;
  text-decoration: none;
}

.nav-capital {
  background-color: #dc742e;
  font-size: 14px;
}

.nav-capital .nav-link {
  color: white;
  text-decoration: none;
  background-color: transparent;
  display: block;
  padding: 0.5rem 0.5rem;
}

.home {
  padding-top: 20px;
  min-height: 450px;
  background-color: pink;
  background-image: url("../img/bg-home.png");
  background-color: #000;
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: top;
  background-position-x: center;
}

.home .bg-negro {
  background: rgba(0, 0, 0, 0.6);
  letter-spacing: 5px;
  color: #f2f2f2;
  font-style: italic;
  font-size: 30px;
  padding: 4px 16px;
  padding-right: 1.5rem !important;
}

.home .bg-blanco {
  background: rgba(255, 255, 255, 0.6);
  color: #000;
  font-size: 14px;
  padding: 4px 16px;
  padding-right: 1.5rem !important;
  margin-bottom: 30px;
}

.home .btn-ahora {
  background-color: #dc742e;
  padding-left: 20px;
  padding-right: 20px;
  color: #f2f2f2;
  border-radius: 0px;
  border: 1px solid #dc742e;
}

.grafico {
  padding: 50px;
  background-image: url("../img/fondo-g.png");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  background-color: z-index;
  background-color: #ffaf52;
  background-color: linear-gradient(180deg, #ffaf52 33%, #ff9a3d 62%, #fe855c 100%);
}

.grafico .line-white {
  border-right: 1px solid #f2f2f2;
  border-left: 1px solid #f2f2f2;
}

.grafico h1 {
  color: #f2f2f2;
  padding-top: 10px;
  padding-bottom: 0px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 33px;
}

.grafico p {
  color: #f2f2f2;
}

.about .titulo h1 {
  font-size: 34px;
}

.about h1 {
  font-size: 24px;
  margin-top: 40px;
}

.about p {
  margin-top: 0;
  margin-bottom: 1rem;
  width: 51%;
  margin: auto;
  text-align: left;
}

.about img {
  margin-top: 30px;
}

.que-es-redcapital {
  padding: 50px;
  background-image: url("../img/fondo-g.png");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: top;
  background-color: z-index;
  background-color: #ffaf52;
  background-color: linear-gradient(180deg, #ffaf52 33%, #ff9a3d 62%, #fe855c 100%);
  text-align: center;
}

.que-es-redcapital h1 {
  padding: 10px;
}

.apoyo {
  padding: 50px 0px;
}

.apoyo .titulo h1 {
  margin: 1.5rem 1.5rem !important;
  font-size: 34px;
  padding-bottom: 30px;
}

.apoyo .layout.wrap {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.apoyo .layout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  min-width: 0;
}

.apoyo .mx-2 {
  margin-right: 0.5rem !important;
}

.apoyo .flex.md9 {
  -ms-flex-preferred-size: 75%;
  flex-basis: 75%;
  -webkit-box-flex: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
  max-width: 75%;
}

.apoyo .llenar-espacio {
  height: 100%;
}

.apoyo .flex.md2 {
  -ms-flex-preferred-size: 16.6666666667%;
  flex-basis: 16.6666666667%;
  -webkit-box-flex: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
  max-width: 16.6666666667%;
}

.apoyo .contenedor-imagen {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.apoyo .contenedor-imagen img {
  height: 130px !important;
  width: 130px !important;
  -o-object-fit: contain;
  object-fit: contain;
}

.apoyo .justify-center {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

@media (min-width: 0) and (max-width: 1050px) {
  .apoyo .flex.xs-hijo {
    -ms-flex-preferred-size: 33.3333333333%;
    flex-basis: 33.3333333333%;
    -webkit-box-flex: 0;
    -ms-flex-positive: 0;
    flex-grow: 0;
    max-width: 33.3333333333%;
  }
  .apoyo .flex.xs-padre {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    -webkit-box-flex: 0;
    -ms-flex-positive: 0;
    flex-grow: 0;
    max-width: 100%;
  }
}

.testimonios {
  padding-top: 5%;
  background-image: url("../img/bg.mancha.png");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: top;
  background-size: cover;
}

.testimonios .layout.wrap {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.testimonios .card {
  border: 0;
  margin-bottom: 30px;
  margin-top: 100px;
  border-radius: 6px !important;
  color: rgba(0, 0, 0, 0.87);
  background: #fff;
  width: 70%;
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
          box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.testimonios h3 {
  font-weight: 300 !important;
  font-size: 25px !important;
}

.testimonios h4 {
  font-size: 18px !important;
}

.testimonios h6 {
  font-size: 16px !important;
  font-weight: 500;
}

.testimonios p {
  font-size: 14px;
  margin: 0 0 10px;
  font-weight: 300;
  text-align: justify;
}

.testimonios .text-gray {
  color: #999 !important;
}

.testimonios .card-title {
  font-weight: 700 !important;
  margin-top: 10px;
  color: #3c4858;
  font-family: Roboto Slab,Times New Roman,serif;
}

.testimonios .card .card-body {
  padding: .9375rem 1.875rem;
}

.testimonios .card-description {
  color: #999;
}

.testimonios .card.card-profile {
  text-align: center;
}

.testimonios .card .card-header.card-header-image {
  position: relative;
  padding: 0;
  z-index: 1;
  margin-left: 15px;
  margin-right: 15px;
  margin-top: -30px;
  border-radius: 6px;
  max-height: 215px;
}

.testimonios .card .card-header.card-header-image a {
  display: block;
}

.testimonios .card .card-header.card-header-image img {
  width: 100%;
  height: 215px;
  border-radius: 6px;
  pointer-events: none;
  -webkit-box-shadow: 0 5px 15px -8px rgba(0, 0, 0, 0.24), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
          box-shadow: 0 5px 15px -8px rgba(0, 0, 0, 0.24), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}

.testimonios .card .card-header.card-header-image .colored-shadow {
  -webkit-transform: scale(0.94);
          transform: scale(0.94);
  top: 12px;
  -webkit-filter: blur(12px);
          filter: blur(12px);
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: cover;
  z-index: -1;
  -webkit-transition: opacity .45s;
  transition: opacity .45s;
  opacity: 1;
}

.testimonios .card .card-header.card-header-image .card-title {
  position: absolute;
  bottom: 5px;
  left: 15px;
  color: #fff;
  font-size: 1.125rem;
  text-shadow: 0 2px 5px rgba(33, 33, 33, 0.5);
  font-weight: 700;
  font-family: 'Roboto Slab';
}

.testimonios .card .card-category {
  margin-top: 15px;
  margin-bottom: 10px;
}

.testimonios .card .card-body + .card-footer {
  padding-top: 0;
  border: 0;
  border-radius: 6px;
}

.testimonios .card .card-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: transparent;
  border: 0;
}

.testimonios .card-profile .card-footer .btn.btn-just-icon {
  font-size: 20px;
  padding: 12px 13px;
  line-height: 1em;
}

.testimonios .card .card-footer {
  padding: .9375rem 1.875rem;
}

.testimonios .card-profile .card-body + .card-footer {
  margin-top: -15px;
}

.testimonios .card-profile .card-avatar {
  width: 130px;
  max-width: 130px;
  max-height: 130px;
  margin: -50px auto 0;
  border-radius: 50%;
  overflow: hidden;
  padding: 0;
  -webkit-box-shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.56), 0 4px 25px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
          box-shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.56), 0 4px 25px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}

.testimonios .card-profile .card-avatar img {
  width: 100%;
}

.testimonios .card-profile .card-avatar + .card-body {
  margin-top: 15px;
}

.testimonios .btn.btn-round {
  border-radius: 30px;
}

.prensa {
  padding: 50px 10px;
}

.prensa .titulo h1 {
  margin-bottom: 60px;
  font-size: 34px;
}

.prensa img {
  -webkit-filter: grayscale(100%);
  /* Ch 23+, Saf 6.0+, BB 10.0+ */
  filter: grayscale(100%);
  /* FF 35+ */
}

.prensa img:hover {
  -webkit-transition: -webkit-filter 0.3s ease-in-out;
  transition: -webkit-filter 0.3s ease-in-out;
  transition: filter 0.3s ease-in-out;
  transition: filter 0.3s ease-in-out, -webkit-filter 0.3s ease-in-out;
  -webkit-filter: grayscale(0%);
  /* Ch 23+, Saf 6.0+, BB 10.0+ */
  filter: grayscale(0%);
  /* FF 35+ */
}

.relato {
  padding: 10px 50px;
  background-color: #fce4be;
}

.relato p {
  text-align: justify;
  margin-left: 8.3333333333%;
}

.relato span {
  color: #a09788;
  margin-left: 8.3333333333%;
}

.footer {
  padding: 50px;
  background-color: #353e47;
  color: #f2f2f2;
}

.footer h1 {
  margin-top: 10px;
  font-size: 24px;
}

.footer h1 .underline {
  text-decoration: underline;
}

.footer button {
  background-color: #dc742e;
  border-radius: 0px;
  border: 1px solid #dc742e;
  color: #f2f2f2;
  padding: 7px 80px;
}
/*# sourceMappingURL=estilos.css.map */