@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;1,200;1,300;1,400&display=swap");
$color-naranjo: #dc742e;
$color-blanco: #f2f2f2;
$color-negro: #000;
$color-gris-oscuro: #353e47;
$color-gris-claro: #a09788;
$color-rosap: #fce4be;

body {
  font-family: "Nunito", sans-serif;
}

//navbar//
.nav-capital {
  background-color: $color-naranjo;
  font-size: 14px;

  .nav-link {
    color: white;
    text-decoration: none;
    background-color: transparent;
    display: block;
    padding: 0.5rem 0.5rem;
  }
}

//SECTION ONE//
.home {
  padding-top: 20px;
  min-height: 450px;
  background-color: pink;
  background-image: url("../img/bg-home.png");
  background-color: #000;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position-y: top;
  background-position-x: center;

  span {
    background: rgba(0, 0, 0, 0.6);
    letter-spacing: 5px;
    color: $color-blanco;
    font-style: italic;
    font-size: 30px;
    padding-right: 1.5rem !important;
  }
}

//SECTION TWO
.grafico {
  padding: 50px;
  background-image: url("../img/fondo-g.png");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  background-color: z-index;
  background-color: rgb(255, 175, 82);
  background-color: linear-gradient(
    180deg,
    rgba(255, 175, 82, 1) 33%,
    rgba(255, 154, 61, 1) 62%,
    rgba(254, 133, 92, 1) 100%
  );

  .line-white {
    border-right: 1px solid $color-blanco;
    border-left: 1px solid $color-blanco;
  }
  h1 {
    color: $color-blanco;
    padding-top: 10px;
    padding-bottom: 0px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 33px;
  }

  p {
    color: $color-blanco;
  }
}

//SECTION THREE
.about {
  .titulo h1 {
    margin: 1.5rem 1.5rem !important;
    font-size: 34px;
  }
  h1 {
    font-size: 24px;
    margin-top: 40px;
  }
  p {
    margin-top: 0;
    margin-bottom: 1rem;
    width: 51%;
    margin: auto;
    text-align: left;
  }
}

//SECTION FOUR
.que-es-redcapital {
  padding: 50px;
  background-image: url("../img/fondo-g.png");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: top;
  background-color: z-index;
  background-color: rgb(255, 175, 82);
  background-color: linear-gradient(
    180deg,
    rgba(255, 175, 82, 1) 33%,
    rgba(255, 154, 61, 1) 62%,
    rgba(254, 133, 92, 1) 100%
  );
  text-align: center;

  h1 {
    padding: 10px;
  }
}

//SECTION FIVE
.apoyo {
  .titulo h1 {
    margin: 1.5rem 1.5rem !important;
    font-size: 34px;
  }
}

//SECTION SIX
.testimonios {
  padding-top: 15%;
  background-image: url("../img/bg.mancha.png");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: top;
  background-size: cover;

  .layout.wrap {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
  .card{
    padding: 1rem;
  }

  img{
    margin-top: -145px;
    width: 50%;
  }
}

//SECTION SEVEN
.prensa {
  padding: 50px 10px;
  .titulo h1 {
    margin-bottom: 60px;
    font-size: 34px;
  }
  img {
    -webkit-filter: grayscale(100%); /* Ch 23+, Saf 6.0+, BB 10.0+ */
    filter: grayscale(100%); /* FF 35+ */
  }

  img:hover {
    transition: filter 0.3s ease-in-out;
    -webkit-filter: grayscale(0%); /* Ch 23+, Saf 6.0+, BB 10.0+ */
    filter: grayscale(0%); /* FF 35+ */
    -webkit-transform: scale(1.25); /* Safari and Chrome */
    -moz-transform: scale(1.25); /* Firefox */
    -ms-transform: scale(1.25); /* IE 9 */
    -o-transform: scale(1.25); /* Opera */
    transform: scale(1.25);
  }
}
.relato {
  padding: 10px 50px;
  background-color: $color-rosap;
  p {
    text-align: justify;
    margin-left: 8.3333333333%;
  }
  span {
    color: $color-gris-claro;
    margin-left: 8.3333333333%;
  }
}

//SECTION EIGHT
.footer {
  padding: 50px;
  background-color: $color-gris-oscuro;
  color: $color-blanco;

  h1 {
    font-size: 24px;
  }
  h1 .underline {
    text-decoration: underline;
  }

  button {
    background-color: $color-naranjo;
    border-radius: 0px;
    border: 1px solid $color-naranjo;
    color: $color-blanco;
    padding: 7px 80px;
  }
}
